<h2 class="title is-2">Twój login do konta: {{newLogin}}</h2>

<div class="card">
  <header class="card-header">
    <p class="card-header-title has-text-centered">
      Weryfikacja przebiegła pomyślnie
    </p>
  </header>
  <div class="card-content">
    <div class="content has-text-centered">
      <img src="assets/registration-verified.png" alt="registration-verified">
    </div>
  </div>
  <footer class="card-footer">
    <p class="has-text-centered">
      Dziękujemy za założenie konta w naszym banku
    </p>
  </footer>
</div>
