<div class="step-content has-text-centered is-active">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Facebook account</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" name="facebook" id="facebook" type="text" placeholder="Facebook account url"
                 autofocus data-validate="require">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Twitter account</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" name="twitter" id="twitter" type="text" placeholder="Twitter account url" autofocus
                 data-validate="require">
        </div>
      </div>
    </div>
  </div>
</div>
