<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Logowanie
    </p>
    <p class="subtitle">
      Otwórz konto
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Login</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control">
              <input class="input" type="email" placeholder="Recipient email">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Dalej</a>
  </footer>
</div>
