<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="assets/bank-demo-logo.svg"
           alt="Bulma: a modern CSS framework based on Flexbox"
           width="112"
           height="28">
    </a>

    <div class="navbar-burger burger"
         (click)="burgerMenuIsActive = !burgerMenuIsActive">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu is-mobile"
       [ngClass]="{'is-active': burgerMenuIsActive}">
    <div class="navbar-start">
      <a class="navbar-link" href="#">
        Language
      </a>
      <div class="navbar-dropdown is-boxed">
        <a class="navbar-item" href="#">
          English
        </a>
        <a class="navbar-item" href="#">
          Polish
        </a>
      </div>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Language
        </a>
        <div class="navbar-dropdown is-boxed">
          <button class="navbar-item button"
                  (click)="useLang('en')">
            English
          </button>
          <button class="navbar-item button"
                  (click)="useLang('pl')">
            Polish
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
