<div class="step-content has-text-centered is-active">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Firstname</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input" name="firstname" id="firstname" type="text" placeholder="Firstname" autofocus
                 data-validate="require">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Last name</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control has-icon has-icon-right">
          <input class="input" type="text" name="lastname" id="lastname" placeholder="Last name"
                 data-validate="require">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Email</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control has-icon has-icon-right">
          <input class="input" type="email" name="email" id="email" placeholder="Email" data-validate="require">
        </div>
      </div>
    </div>
  </div>
</div>
