@import "src/theme/theme.constants";

.app__container {
  max-width: 80vw;
  min-width: 1200px;
  margin: auto;
  padding: 8px 12px;
  height: calc(100% - #{$header-height});
}

@media (max-width: 1200px) {
  .app__container {
    max-width: 100vw;
    min-width: initial;
  }
}
