<div class="columns">
  <div class="column column__main">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="0">
        <bd-login-step-one (next)="step = 1; useLoginToGetLoginData($event)"
                           (openAccount)="navigateToCreateAccount()"
                           [login]="login"></bd-login-step-one>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <bd-login-step-two (previous)="step = 0"
                           (next)="loginToAccount($event)"
                           (openAccount)="navigateToCreateAccount()"
                           [enabledIndexes]="enabledIndexes"></bd-login-step-two>
      </ng-container>
    </ng-container>
  </div>
  <div class="is-divider-vertical"></div>
  <div class="column">
    <bd-advertisement></bd-advertisement>
  </div>
</div>
