<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Hasło</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control">
        <input *ngFor="let char of chars; trackBy: trackBy"
               [value]="char.value"
               [disabled]="char.disabled"
               (keyup)="onKeyUp($event)"
               autofocus
               class="input input--masked"
               type="password"
               autocomplete="new-password"
               maxlength="1">
      </p>
    </div>
  </div>
</div>
